# COVID-19 Project

* Read in files
* Seperate numbers
* Put numbers in graphs

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("Gender_Data.csv")

#print(df.head(2))

MänTotaltCases = df["Total_Cases"]

#print(TotaltCases)
df

   Gender  Total_Cases  Total_ICU_Admissions  Total_Deaths
0    Male       288507                  3582          6657
1  Female       319641                  1411          5771

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("Gender_Data.csv")

MänTotaltCases = df["Total_Cases"]
KvinnorTotaltCases = df["Total_Cases"]

MänICU = df["Total_ICU_Admissions"]
KvinnnorICU = df["Total_ICU_Admissions"]

MänDeaths = df["Total_Deaths"]
KvinnorDeaths = df["Total_Deaths"]

color = ["darkblue", "orange"]

""" data = [MänTotaltCases, KvinnorTotaltCases]
labels = 'Män','Kvinnor'
plt.pie(data,labels=labels,colors=color)
plt.title('Total Cases')
plt.axis('equal')
plt.show()
 """

" data = [MänTotaltCases, KvinnorTotaltCases]\nlabels = 'Män','Kvinnor'\nplt.pie(data,labels=labels,colors=color)\nplt.title('Total Cases')\nplt.axis('equal')\nplt.show()\n "

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("National_Total_Deaths_by_Age_Group.csv")

df

  Age_Group  Total_Cases  Total_ICU_Admissions  Total_Deaths
0       0-9         9127                    22             7
1     10-19        62180                    35             3
2     20-29       107936                   142            15
3     30-39       107508                   194            33
4     40-49       109903                   483            81
5     50-59       101188                  1084           261
6     60-69        53511                  1438           721
7     70-79        26476                  1259          2605
8     80-89        20538                   329          5239
9       90+         9980                     7          3463

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("National_Total_Deaths_by_Age_Group.csv")